<div class="container" ng-controller="myCtrl" ng-init="getdata()">
	<h1 class="text-center">Hii {{newdata.fullname}} !!!</h1>
	<table class="table table-bordered">
		<tr>
			<td>Fullname </td>
			<td> {{newdata.fullname}}</td>
		</tr>

		<tr>
			<td>Address</td>
			<td> {{newdata.address}}</td>
		</tr>

		<tr>
			<td>Phone</td>
			<td> {{newdata.phone}}</td>
		</tr>

		<tr>
			<td>Email</td>
			<td> {{newdata.email}}</td>
		</tr>

		<tr>
			<td>Username</td>
			<td> {{newdata.username}}</td>
		</tr>

		<tr>
			<td>Image</td>
			<td>
				{{newdata.image ? "<img src="images/{{newdata.image}}" height="70px" width="70p">" : "<img src="images/1.png" height="70px" width="70px">" }}
			
				 </td>
		</tr>
	</table>
	
	<a href="/edit" class="btn btn-primary">EDIT</a>
	<a href="/edit/remove" class="btn btn-danger">REMOVE</a>




</div>